<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BFBotLauncher.Properties.Settings.BFBotConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BFBot.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>