<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetFairInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BetFairInterface.Properties.Settings>
            <setting name="BetFairInterface_BetFairGlobal_BFGlobalService"
                serializeAs="String">
                <value>https://api.betfair.com/global/v3/BFGlobalService</value>
            </setting>
            <setting name="BetFairInterface_BetFairUKExchange_BFExchangeService"
                serializeAs="String">
                <value>https://api.betfair.com/exchange/v3/BFExchangeService</value>
            </setting>
        </BetFairInterface.Properties.Settings>
    </applicationSettings>
</configuration>